src/__pycache__/
src/*.pyc
.github/
.github/*.md
*.pth
*.pt
data/train/HR/*.wav
data/train/LR/*.wav
data/test/HR/*.wav
data/test/LR/*.wav
data/train/*.wav
data/test/*.wav
data/train/*.wav
data/test/*.wav
data/test/
data/train/